.noScrollbar::-webkit-scrollbar {
  display: none;
}
a.active button {
  @apply text-text-primary;
}
a.active span {
  @apply font-semibold;
}

#sidebar li:is(.active, :hover) {
  @apply font-medium text-text-primary;
}

#city.active {
  @apply border bg-transparent;
}

#option.active {
  @apply rounded-xl border-none bg-settings-active font-medium text-text-primary;
}

.noTextWrap {
  text-wrap: nowrap;
}
.disabled {
  @apply pointer-events-none opacity-40;
}
#main {
  scroll-snap-type: y mandatory;
}
.settings_section {
  scroll-snap-align: start;
}

.cityType2 {
  @apply min-w-[150px] grid-cols-none grid-rows-[50px_1fr_auto]  place-items-center  px-5 !important;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Loader */
.loading {
  background-image: radial-gradient(
      circle 25px at 25px 25px,
      var(--color-text-primary) 100%,
      transparent 0
    ),
    radial-gradient(circle 50px at 50px 50px, var(--color-text-primary) 100%, transparent 0),
    radial-gradient(circle 25px at 25px 25px, var(--color-text-primary) 100%, transparent 0),
    radial-gradient(circle 15px at 15px 15px, var(--color-text-primary) 100%, transparent 0),
    linear-gradient(var(--color-text-primary) 50px, transparent 0);
  background-size:
    50px 50px,
    100px 75px,
    50px 50px,
    30px 32px,
    136px 20px;
  background-position:
    0px 30px,
    30px 0px,
    113px 29px,
    147px 50px,
    23px 60px;
}
.loading::after {
  animation: loader 0.6s linear infinite;
  -webkit-animation: loader 0.6s linear infinite;
}

@keyframes loader {
  0% {
    box-shadow:
      25px 0 var(--color-text-primary),
      50px 0 var(--color-text-primary),
      75px 0 var(--color-text-primary),
      100px 0 var(--color-text-primary),
      125px 0 var(--color-text-primary),
      150px 0 var(--color-text-primary),
      25px 0 var(--color-text-primary),
      50px 0 var(--color-text-primary),
      75px 0 var(--color-text-primary),
      100px 0 var(--color-text-primary),
      125px 0 var(--color-text-primary),
      150px 0 var(--color-text-primary);
  }
  50% {
    box-shadow:
      25px 20px var(--color-text-primary),
      50px 60px var(--color-text-primary),
      75px 30px var(--color-text-primary),
      100px 70px var(--color-text-primary),
      125px 40px var(--color-text-primary),
      150px 60px var(--color-text-primary),
      25px 20px var(--color-text-primary),
      50px 30px var(--color-text-primary),
      75px 10px var(--color-text-primary),
      100px 30px var(--color-text-primary),
      125px 30px var(--color-text-primary),
      150px 30px var(--color-text-primary);
  }
  100% {
    box-shadow:
      25px 60px var(--color-text-primary),
      50px 60px var(--color-text-primary),
      75px 50px var(--color-text-primary),
      100px 70px var(--color-text-primary),
      125px 70px var(--color-text-primary),
      150px 60px var(--color-text-primary),
      25px 80px var(--color-text-primary),
      50px 80px var(--color-text-primary),
      75px 70px var(--color-text-primary),
      100px 60px var(--color-text-primary),
      125px 30px var(--color-text-primary),
      150px 30px var(--color-text-primary);
  }
}

/* Tippy */

.tippy-box[data-theme~='custom'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--color-settings-active);
}
.tippy-box[data-theme~='custom'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: var(--color-settings-active);
}
.tippy-box[data-theme~='custom'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: var(--color-settings-active);
}
.tippy-box[data-theme~='custom'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: var(--color-settings-active);
}
.tippy-box[data-theme~='custom'] .tippy-content {
  padding: 0;
}

/* sonner */

[data-sonner-toaster] {
  --offset: 20px !important;
}
[data-sonner-toaster][data-theme='dark'] {
  --normal-bg: var(--color-background-primary) !important;
  --normal-border: var(--color-border) !important;
  --normal-text: var(--color-text-primary) !important;
  --success-bg: var(--color-primary) !important;
  --success-border: hsl(147, 100%, 12%) !important;
  --success-text: hsl(150, 86%, 65%) !important;
  --info-bg: hsl(215, 100%, 6%) !important;
  --info-border: hsl(223, 100%, 12%) !important;
  --info-text: hsl(216, 87%, 65%) !important;
  --warning-bg: hsl(64, 100%, 6%) !important;
  --warning-border: hsl(60, 100%, 12%) !important;
  --warning-text: hsl(46, 87%, 65%) !important;
  --error-bg: hsl(358, 76%, 10%) !important;
  --error-border: hsl(357, 89%, 16%) !important;
  --error-text: hsl(358, 100%, 81%) !important;
}

.sonner-toast[data-type='warning'] {
  height: auto !important;
  padding: 8px 16px;
}
.sonner-toast [data-content] {
}
.sonner-toast:not([data-type='loading']) [data-content] {
  margin-left: 40px;
}
.sonner-toast:not([data-type='loading']) [data-icon] {
  height: calc(100% + 1px);
  position: absolute;
  left: 0;
  width: 45px;
  justify-content: center;
  color: white;
  border-radius: 8px 0 0 8px;
}
.sonner-toast:not([data-type='loading']) [data-icon] svg {
  width: 25px;
  height: 25px;
}
.sonner-toast[data-type='success'] [data-icon] {
  background-color: limegreen;
}
.sonner-toast[data-type='error'] [data-icon] {
  background-color: #ff0000;
}
.sonner-toast[data-type='warning'] [data-icon] {
  background-color: #5896f3;
}
.sonner-toast [data-button] {
  background-color: #f4f4f4;
  color: #444444;
  font-weight: 500;
  box-shadow: -1px 1px 1px 0px #e5e5e5b0;
}
.sonner-toast [data-close-button] {
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f4f4f4;
  color: #444444;
}

/* Map */
.leaflet-top {
  @apply left-auto  right-3 top-[73%] !important;
}
.leaflet-control-zoom {
  @apply m-0 border-none !important;
}
.leaflet-control-zoom a {
  @apply rounded-md rounded-t-md bg-background-secondary text-text-primary hover:bg-background-primary !important;
}
.leaflet-popup-content-wrapper {
  @apply bg-background-primary text-lg font-semibold text-text-primary;
}
.leaflet-popup-tip {
  @apply bg-background-primary;
}
