.noScrollbar::-webkit-scrollbar {
  display: none;
}
a.active button {
  @apply text-text-primary;
}
a.active span {
  @apply font-semibold;
}

#sidebar li:is(.active, :hover) {
  @apply font-medium text-text-primary;
}

#city.active {
  @apply border bg-transparent;
}

#option.active {
  @apply rounded-xl border-none bg-settings-active font-medium text-text-primary;
}

.noTextWrap {
  text-wrap: nowrap;
}
.disabled {
  @apply pointer-events-none opacity-40;
}
#main {
  scroll-snap-type: y mandatory;
}
.settings_section {
  scroll-snap-align: start;
}

.cityType2 {
  @apply min-w-[150px] grid-cols-none grid-rows-[50px_1fr_auto]  place-items-center  px-5 !important;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.tippy-box[data-theme~='custom'] .tippy-content {
  padding: 0;
}

/* sonner */

[data-sonner-toaster] {
  --offset: 20px !important;
}
[data-sonner-toaster][data-theme='dark'] {
  --normal-bg: var(--color-background-primary) !important;
  --normal-border: var(--color-border) !important;
  --normal-text: var(--color-text-primary) !important;
  --success-bg: var(--color-primary) !important;
}

.sonner-toast[data-type='warning'] {
  height: auto !important;
  padding: 8px 16px;
}
.sonner-toast:not([data-type='loading']) [data-content] {
  margin-left: 40px;
}
.sonner-toast:not([data-type='loading']) [data-icon] {
  height: calc(100% + 1px);
  position: absolute;
  left: 0;
  width: 45px;
  justify-content: center;
  color: white;
  border-radius: 8px 0 0 8px;
}
.sonner-toast:not([data-type='loading']) [data-icon] svg {
  width: 25px;
  height: 25px;
}
.sonner-toast[data-type='success'] [data-icon] {
  background-color: limegreen;
}
.sonner-toast[data-type='error'] [data-icon] {
  background-color: #ff0000;
}
.sonner-toast[data-type='warning'] [data-icon] {
  background-color: #5896f3;
}
.sonner-toast [data-button] {
  background-color: #f4f4f4;
  color: #444444;
  font-weight: 500;
  box-shadow: -1px 1px 1px 0px #e5e5e5b0;
}
.sonner-toast [data-close-button] {
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f4f4f4;
  color: #444444;
}

/* Map */
.leaflet-top {
  @apply left-auto  right-3 top-[73%] !important;
}
.leaflet-control-zoom {
  @apply m-0 hidden border-none !important;
}
.leaflet-control-zoom a {
  @apply rounded-md rounded-t-md bg-background-secondary text-text-primary hover:bg-background-primary !important;
}
.leaflet-popup-content-wrapper {
  @apply bg-background-primary text-lg font-semibold text-text-primary;
}
.leaflet-popup-tip {
  @apply bg-background-primary;
}
