@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0072e6;
  --color-primary-hover: #0095ff;
  --color-text-secondary: #9399a2;
}

.dark {
  --color-background-primary: #0b131e;
  --color-background-secondary: #202b3b;
  --color-text-primary: #dde0e4;
  --color-text-tertiary: #b9c0ca;
  --color-settings-active: #35455e;
  --color-settings-inactive: #0b131e;
  --color-border: #35455e;
  --color-shadow : rgba(0, 0, 0, 0.8);
}

.light {
  --color-background-primary: #ffffff;
  --color-background-secondary: #f3f4f5;
  --color-text-primary: #202b3b;
  --color-text-tertiary: #35455e;
  --color-settings-active: #dde0e4;
  --color-settings-inactive: #c4cad3;
  --color-border: #9399a2;
  --color-shadow : rgba(0, 0, 0, 0.4);
}

* {
  box-sizing: border-box;
  @apply transition-colors duration-300;
}
body {
  font-family: 'Rubik', sans-serif;
  @apply /* xl:grid; */ 
  h-[100dvh] overflow-hidden bg-background-primary;
}
#root {
  @apply h-full;
  /* xl:m-auto xl:h-[700px] xl:w-[1400px]; */
}

::-webkit-scrollbar {
  @apply h-[3px] w-[3px];
}
::-webkit-scrollbar-track {
  @apply rounded-md bg-background-secondary;
}
::-webkit-scrollbar-thumb {
  @apply rounded-md bg-primary;
}
